ELT user_items

In [1]:
#Importando librerias
import pandas as pd
import numpy as np
import ast
import json
import gzip

1. Extracción de datos

In [2]:
# Definimos una función leer_Json_gzip() que lee los archivos 'comprimidos.json.gz` y devuelve una lista de diccionarios Python.
def leer_json_gzip(nombreArchivo):

    # Abrimos el archivo users_items.json.gz en modo de lectura y decodificamos el contenido del archivo.
    with gzip.open(nombreArchivo, 'rt', encoding='utf-8') as miArchivo:

        # Recorremos el contenido del archivo y evaluamos cada línea como una expresión Python.
        # El resultado de la evaluación es un diccionario Python.
        # La función strip() elimina los espacios en blanco al principio y al final de la línea.
        return [ast.literal_eval(line.strip()) for line in miArchivo]
    #Usamos ast.literal_eval para convertir cada linea en un diccionario y lo agregamos a la lista

In [7]:
items_1 = leer_json_gzip('data/users_items.json.gz')

2. Exploración de datos

In [12]:
items_2= pd.json_normalize(items_1, record_path=['items'], meta=['user_id', 'steam_id','items_count'] )
items_2.head(3)
#con esto desanido y pego las variablas que utilizare, es decir aprovecho y descarto user_usrl e items_count

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,steam_id,items_count
0,10,Counter-Strike,6,0,76561197970982479,76561197970982479,277
1,20,Team Fortress Classic,0,0,76561197970982479,76561197970982479,277
2,30,Day of Defeat,7,0,76561197970982479,76561197970982479,277

3. Revision de duplicados

In [13]:
duplicados=items_2.loc[items_2.duplicated()]
duplicados=duplicados.sort_values('user_id')
duplicados.head(5)

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,steam_id,items_count
2712175,339280,Strife,93,0,05041129,76561198167088451,35
2712165,294160,Galcon 2,0,0,05041129,76561198167088451,35
2712166,298240,Red Crucible: Firestorm,7,0,05041129,76561198167088451,35
2712167,301520,Robocraft,16,0,05041129,76561198167088451,35
2712168,304930,Unturned,53,0,05041129,76561198167088451,35

Obs: No elimino, ya que al un mismo usuario puede tener distintos juegos. Sería distinto si para un mismo usuario, se repiten los juegos

4. Elimino las columnas que no necesito

In [14]:
items_3 = items_2.drop(columns=["playtime_2weeks"])
items_3.head(2)

,item_id,item_name,playtime_forever,user_id,steam_id,items_count
0,10,Counter-Strike,6,76561197970982479,76561197970982479,277
1,20,Team Fortress Classic,0,76561197970982479,76561197970982479,277

5. Guardo el dataset para su uso posterior

In [15]:
items_3_csv = "data/items_3.csv"
items_3.to_csv(items_3_csv , index=False, encoding="utf-8")